{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if messages %}
  <div class="text-bg-success p-3">
    <ul class="message">
      {% for message in messages %}
        <h2 {% if message.tags %} class=" {{ message.tags }} " {% endif %}>{{ message }}</h2>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div>
  <p>{{ text }}</p>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% with form=form %}
    {% include "includes/form.html" with inner=True form=form %}
  {% endwith %}

  <div class="button">
    <button type="submit">{% trans "Отправить" %}</button>
  </div>
</form>

{% endblock %}