{% extends "base.html" %}

{% block content %}
<h1>Подробно элемент {{ item.id }}</h1>
<div>
  <h2>{{ item.name }}</h2>
  <div>
    <img src="{{ item.main_image.get_image_300x300.url }}" width="300" alt=""/>
    <p>{{ item.text|striptags }}</p>
  </div>
  <h5>Категория:</h5>
  <p>{{ item.category }}</p>
  <h5>Теги:</h5>
  {% for tag in item.tags.all %}
  <p>{{ tag.name }}</p>
  {% endfor %}

  {% if item.images.all %}
  <h5>Галерея:</h5>
  {% for image in item.images.all %}
  <div class="text-center">
    <img src="{{ image.get_image_300x300.url }}" width="300" alt=""/>
    <div class="container">
      <div class="carousel-caption text-start">
        <p>
          <a href="{% url 'download:file' image.image %}" class="btn btn-lg btn-primary">
            Скачать изображение
          </a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}